* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #21183a;
  font-family: 'Raleway', sans-serif;
}
.name{
  margin-left: 350px;
}
.app {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  text-align: center;

}

.app .mainHeading h1 {
  text-align: center;
}

.app h1{
  color: rgb(218, 186, 223);
  font-size: 250%;
  font-weight:2000;
}
.app h2 {
  color: rgb(216, 201, 240);
  font-size: 150%;
  font-weight: lighter;
}

.app .input {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.app .input {
  margin-top: 0.8em;
  width: 30em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
  margin-left: 75px;
  border: 5px solid rgb(109, 53, 241);
}

.app .input input {
  width: 100%;
  height: 2.0em;
  border-color: transparent;
  outline-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}
.app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.app .todos .todo {
  margin-top: 0.8em;
  width: 30em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
  border: 5px solid rgb(109, 53, 241);

}
.app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app .todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: grey;
}